.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    z-index: 1000;

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4E50A2;
    padding: 15px 20px;
    margin-bottom: 100px;
    color: white;
}


h1 {
    color: white;
    text-align: center;
}